h1,h3{
    text-align: center;
}
.mls{
    margin-left: 34px;
}
.mts{
    margin-top: 19px;
}
.mbs{
    margin-bottom: 18px;
}
body{
    background-color: #ffffa0;
}
.btn-primary{
    color: #fff;
    background-color: #212529;
    border-color: #474747;
}
.btn-primary:hover{
    background-color: black;
}
.manageCard{
    width: 396px;
}
pre{
    border: 2px solid black;
    height: 230px;
    border-radius: 2px;
}
